* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, .3) , rgba(0, 0, 0, 0.7)) ,url(img/Default.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.btn-QueueME{
    position: absolute;
    left: 10px;
    top: 10px;
    text-decoration: none;
}

h2{
    margin: 0;
    color: #fff;
    font-size: 150px;
    /*border: 1px solid #000000;*/
    
}

.small-text-box{
    position: absolute;
    width: 375px;
    height: 250px;
    left: 10px;
    top: 270px;
    background-color: rgba(43, 108, 212, 0.4);
    margin: 0;
    border-radius: 20px;
}

h1{
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 20px;
    color: #fff;
    font-size: 20px;
}

.small_t_h{
    text-align: center;
    position: relative;
    right: 10px;
    /*border: 1px solid black;*/
 
}

.text{
    width: 300px;
    height: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
    background-color: #000;
}

.text-Email{
    position: relative;    
}

.btn-Code{
    color: #fff;
    border: 1px solid;
    border-color: #fff;
    position: relative;
    float: right;
    right: 30px;
    top: 15px;
    text-decoration: none;
    background-color: rgba(252, 251, 0, 0.70);
    border-radius: 20px;
    padding: 10px;
}
